body{
    background-image: url(/gatitos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}

img{
    width: 100%;
}

h1{
    font-size: 3rem;
}

.root{
    position: relative;
}

.cambiar-clima{
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 100;
    font-family: sans-serif;

    position: absolute;
    top: 1px;
    left: 1px;
}

.input-search{
    font-size: 1.2rem;
    font-weight: 500;
}

@keyframes subBaj{
    0%{
        transform: translateY(-10px) scale(1);
    }
    50%{
        transform: translateY(10px) scale(1.01);
    }
    100%{
        transform: translateY(-10px) scale(1);
    }
}

.img{
    margin: 0;
    padding: 0;
    width: clamp( 100px, 300px, 80%);
    height: auto;
    animation: subBaj ease-in-out  infinite 2s;
}


.App{
    color:white;
    display: grid;
    place-content: center;
    background-image: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.weatherCard{
    border: 2px solid black;
    padding: 1.5rem;
    background-color:  #00000099;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
    border-radius: 20px;
    
    margin: 0 min(auto,1rem );
}

.weatherCard-button{
    border: none;
    padding: .25rem;
    margin: .5rem .5rem;
    border-radius: .2rem;
    cursor: pointer;
    transition: background 0.9;

    width: 100px;
    display: inline-block;
}

.weatherCard-button:hover{
    opacity: .6;
}

.weatherCard-body{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.weatherCard-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Loader{
    margin: auto;
    width: 35%;
}


@media (max-width: 550px){
    .cambiar-clima{
        position: sticky;
        padding: 1rem 0;
        top: 0;
    }
    .weatherCard{
        margin-top: 1rem;
    }
}